<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodList</title>
</head>
<body class="container full-height-grow">
    <header class="main-header"> 
        <a href="/" class="logo">
            <img src="assets/images/Logo.png" width="50" height="50">
            <div class="logo-name">FoodList</div>
        </a>
        <nav class="main-nav">
            <ul>
                <li><a href="search.html">Search</a></li>
                <li><a href="lists.html">Your Lists</a></li>
            </ul>
        </nav>
    </header>
</body>